@use "../../../../scss/variables" as vars;

.course-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: flex-start;
    position: relative;
    box-sizing: border-box;
    padding: 1.7rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.20);
    font-family: "Open Sans", sans-serif;

    .side-line {
        background-color: vars.$primary-dark;
        width: 7px;
        height: 100%;
        position: absolute;
        inset: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    h2 {
        margin: 0 0 0.5em 0;
        font-size: 20px;
    }

    .course-container {
        display: flex;
        justify-content: space-between;
        column-gap: 4em;

        .left-side {

            p {
                color: vars.$primary-dark;
            }
        }

        .right-side {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            width: 25%;
            min-width: 180px;
            flex-shrink: 0;

            .course-info-list {
                color: vars.$primary-dark;
                list-style: none;

                li {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                b {
                    font-weight: 700;
                }
            }
        }
    }

}
