@use "../../scss/mixins";
@use "../../scss/variables" as vars;

.courses-action-container {
    display: flex;
    justify-content: space-between;
}

.courses-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 2rem 0;
}

.searchError {
    align-self: center;
    justify-self: center;

    h1 {
        color: vars.$primary-dark;
        font-size: 2em;
        margin: 2rem auto;
    }
}
