@use '../../../scss/variables.scss' as vars;

.main-content-login-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: vars.$primary-dark;

    form {
        width: 585px;
        margin-top: 2rem;
        border: 1px solid vars.$primary-grey;
        border-radius: 4px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 4rem;
        margin-bottom: 3.5rem;

        .registration-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1.5rem;

            //     .input-container {
            //         .error-paragraph {
            //             color: vars.$error-color;
            //         }

            // }

            p {
                margin-top: 1rem;
                align-self: center;
            }

            button {
                margin-top: 1rem;
            }
        }
    }

}
