@use '../../scss/variables' as vars;

.createCourse {
    display: flex;
    flex-direction: column;
    color: vars.$primary-dark;

    h1 {
        font-size: 2rem;
    }

    form {
        display: grid;
        grid:
            "main-info main-info" auto "duration course-authors-list" auto "authors course-authors-list" auto/ 70% 30%;
        background-color: #fff;
        border: 1px solid vars.$primary-grey;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 3rem 5rem;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        row-gap: 2rem;

        label {
            font-size: 14px;
        }

        h2,
        h3 {
            margin-bottom: 1rem;
        }

        .mainInfo {
            grid-area: main-info;
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 1.5rem;
            }

            div:nth-of-type(2) {
                margin-top: 2rem;
            }
        }

        .duration {
            grid-area: duration;
            display: flex;
            flex-direction: column;

            .duration-input-container {
                display: flex;
                column-gap: 1rem;

                .duration-p {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    align-self: flex-end;
                }
            }
        }

        .authors {
            grid-area: authors;
            display: flex;
            flex-direction: column;

            .authors-input-container {
                display: flex;
                column-gap: 1rem;
                row-gap: 1rem;
                flex-wrap: wrap;

                button {
                    align-self: flex-end;
                }
            }

            .authors-list-container {
                display: flex;
                flex-direction: column;
                margin-top: 1.5rem;

                .authors-list {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5em;
                }

            }
        }

        .courseAuthors {
            grid-area: course-authors-list;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;

            }
        }
    }

    .button-container {
        align-self: flex-end;
        display: flex;
        column-gap: 1.2rem;
    }
}
