@use "../../../../scss/variables" as vars;

.courseCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    padding: 1.7rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.20);
    font-family: "Open Sans", sans-serif;
    min-width: 525px;

    .sideLine {
        background-color: vars.$primary-dark;
        width: 7px;
        height: 100%;
        position: absolute;
        inset: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    h2 {
        margin: 0 0 0.5em 0;
        font-size: 20px;
    }

    .courseContainer {
        display: flex;
        justify-content: space-between;
        column-gap: 20%;

        .leftSide {

            p {
                color: vars.$primary-dark;
            }
        }

        .rightSide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 2rem;
            margin-right: 2.5%;
            width: fit-content;
            flex-shrink: 0;

            .courseInfoList {
                width: 330px;
                color: vars.$primary-dark;
                list-style: none;

                li {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                b {
                    font-weight: 700;
                }

            }

            a {
                width: fit-content;
            }

            .buttonContainer {
                display: flex;
                justify-content: center;
                row-gap: 10px;
                column-gap: 10px;
                width: fit-content;

                button {
                    flex-shrink: 0;

                    img {
                        height: 25px;
                    }
                }
            }
        }
    }

}
