@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.main-content {
    padding: 3.5rem 0;
    box-sizing: border-box;
    grid-area: content;
    min-height: calc(100vh - 80px);
}
