@use "../../scss/mixins";
@use "../../scss/variables" as vars;

@include mixins.main-content-generic();

.empty-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 2rem;
        font-weight: 700;
        color: vars.$primary-dark;
    }

    p {
        color: vars.$primary-dark;
        margin: 1.4rem;
    }

    button {
        margin: 1em 0 4em 0;
    }
}
